{% extends 'layout.html'%}

{% block main %}

<ol class="breadcrumb">
    <li><a href="/admin">首页</a></li>
    <li><span>产品添加</span></li>
</ol>

<form role="form" method="post">
        
            <div class="form-group">
                <label for="category">产品名称</label>
                <input id='title' name="title" class="form-control" placeholder="例：H型管">                
            </div>
            <div class="form-group">
                <label for="title">参考报价</label>
                <input id='price' name="price" class="form-control" placeholder="例：100元/m">
            </div>
            <div class="form-group">
                <label for="description">产品描述</label>
                <textarea rows="5" id='description' name="description" class="form-control" placeholder="例：品质优良，物美价廉"></textarea>
            </div>
            <div class="form-group">
                <label for="content">产品图片:</label>
                <input style="margin-top:15px" accept="image/png,image/jpg" type="file" id='img' name="img">
            </div>
            <img style="width:200px;height:200px" id="showImg" alt=""><br/>
            <button style="margin-top:30px" type="submit" class="btn btn-default">发布产品</button>
        </form>
{% endblock %}