<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>王清野的博客</title>
    <!-- Bootstrap -->
	<link rel="stylesheet" href="/public/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="/public/css/bootstrap-theme.min.css" type="text/css">
    <link href="/public/css/normalize.css" rel="stylesheet">
    <link href="/public/css/index.css" rel="stylesheet">
	<!-- <script src="/public/js/bootstrap.min.js"></script> -->
	<script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/index.js"></script>
  </head>
  <body>
	<img style="width:100%" src="/public/image/banner.png" alt="">
	<ul class="nav nav-tabs navs">
		<li role="presentation" class="active"><a href="#">公司简介</a></li>
		<li role="presentation"><a href="/goods">产品展示</a></li>
		<li role="presentation"><a href="/clients">客户案例</a></li>
	</ul>
	<div class="jumbotron">
		<p>四川琳垚贸易有限公司位于四川成都金府钢材城。公司成立于2010年，实力强大，资金雄厚，主营: H型钢、角钢、槽钢、工字钢、热镀管、镀锌管等各种钢材。公司秉承“顾客至上，锐意进取”的经营理念，坚持“客户******”的原则为广大客户提供优质的服务。以明确的专业化经营为核心，着力为客户提供高品质、低成本的钢铁材料。公司不断进取并逐步完善，在西南区域乃至国内市场有较大的知名度和较高的诚信度，欢迎广大企业、用户和消费者和我们联系，我们将竭诚为您服务！</p>
	</div>
  </body>
</html>